attached_assets/CheckDupInterface-DE46A7FA-35A0-EE11-BE36-001DD809470C_1775749748713.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_6ce6e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "InvoiceTrackingSite (invoicet_InvoiceTrackingSite)": {
          "defaultValue": "https://cdph.sharepoint.com/sites/InvoiceTrackingDev",
          "type": "String",
          "metadata": {
            "schemaName": "invoicet_InvoiceTrackingSite"
          }
        },
        "InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)": {
          "defaultValue": "Invoice Tracking",
          "type": "String",
          "metadata": {
            "schemaName": "invoicet_InvoiceTrackingInvoices"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "2c5fdcf9-d969-4e58-b0a2-6554ac7e9c4a"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "InvNum",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "InvAmt",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "FisYear",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "title": "SuppID",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text",
                "text_1",
                "text_2",
                "text_3"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "46040f12-a1f3-4b8b-8cfd-6aa4ac5c25f5"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "@parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')",
              "table": "@parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')",
              "$filter": "Title eq '@{triggerBody()['text']}' and InvoiceAmount eq '@{triggerBody()['text_1']}' and FiscalYear eq '@{triggerBody()['text_2']}' and VendorID eq '@{triggerBody()['text_3']}'",
              "$top": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Respond_to_a_PowerApp_or_flow": {
          "runAfter": {
            "Compose_3": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b0c5e4f5-83f3-4bd4-af0b-57ba9ea4fddc"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "resultcount": "@{outputs('Compose')}",
              "subid": "@{outputs('Compose_3')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "resultcount": {
                  "title": "ResultCount",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                },
                "subid": {
                  "title": "SubID",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Compose": {
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6c0429a4-ac7a-44db-b1dd-a1102500cfd8"
          },
          "type": "Compose",
          "inputs": "@length(outputs('Get_items')?['body/value'])"
        },
        "Select": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5529b0f5-bf76-415d-93cc-03af5f03246b"
          },
          "type": "Select",
          "inputs": {
            "from": "@outputs('Get_items')?['body/value']",
            "select": {
              "SubID": "@item()?['ID']"
            }
          }
        },
        "Compose_2": {
          "runAfter": {
            "Select": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "64f7e3a3-58a4-498e-998e-42d8a35c2980"
          },
          "type": "Compose",
          "inputs": "@first(body('Select'))"
        },
        "Compose_3": {
          "runAfter": {
            "Compose_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2551561e-16c5-4676-b4af-81871b530d04"
          },
          "type": "Compose",
          "inputs": "@outputs('Compose_2')?['SubID']"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}