attached_assets/StaffAssignment-70469328-421F-ED11-B83C-001DD8069146_1775749748715.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_2": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_6ce6e"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "InvoiceTrackingSite (invoicet_InvoiceTrackingSite)": {
          "defaultValue": "https://cdph.sharepoint.com/sites/ADSBpowerapps/InvoiceTracking",
          "type": "String",
          "metadata": {
            "schemaName": "invoicet_InvoiceTrackingSite"
          }
        },
        "InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)": {
          "defaultValue": "fb6a1470-6330-4289-9553-c1d38e955fa2",
          "type": "String",
          "metadata": {
            "schemaName": "invoicet_InvoiceTrackingInvoices"
          }
        },
        "InvoiceTrackingStaff (invoicet_InvoiceTrackingStaff)": {
          "defaultValue": "be18448d-04cf-4f2d-9a04-d93c1ea92878",
          "type": "String",
          "metadata": {
            "schemaName": "invoicet_InvoiceTrackingStaff"
          }
        }
      },
      "triggers": {
        "When_an_item_is_created": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerBody()?['value']",
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "GetOnNewItems"
            },
            "operationMetadataId": "3d86743a-32be-44ea-b1e2-ac5f0337f527"
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
              }
            },
            "method": "get",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/onnewitems",
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Get_Rep_Struct": {
          "runAfter": {},
          "metadata": {
            "flowSystemMetadata": {
              "swaggerOperationId": "GetItems"
            },
            "operationMetadataId": "44e73a55-9156-48b6-959f-fff5e1c44523"
          },
          "type": "ApiConnection",
          "inputs": {
            "host": {
              "connection": {
                "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
              }
            },
            "method": "get",
            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingStaff (invoicet_InvoiceTrackingStaff)')))}/items",
            "queries": {
              "$filter": "Title eq '@{triggerBody()?['ReportingStructure']}' and Inv_x0020_Type eq '@{triggerBody()?['InvoiceType']?['Value']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Get_Rep_Struct')?['value']",
          "actions": {
            "Update_item": {
              "runAfter": {},
              "metadata": {
                "flowSystemMetadata": {
                  "swaggerOperationId": "PatchItem"
                },
                "operationMetadataId": "f9135e00-b634-4d4d-9737-bb5cdb0925d2"
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                  }
                },
                "method": "patch",
                "body": {
                  "Title": "@triggerBody()?['Title']",
                  "Unit": "@items('Apply_to_each')?['Unit_x0020_']",
                  "Descr": "@items('Apply_to_each')?['Descr']",
                  "Group": "@items('Apply_to_each')?['Group']",
                  "Division_x002f_Center": "@items('Apply_to_each')?['Division_x002f_Center_x0020_']",
                  "StaffName": {
                    "Value": "@items('Apply_to_each')?['Accountant_x0020_']"
                  },
                  "Branch": "@items('Apply_to_each')?['Branch_x0020_']",
                  "Section": "@items('Apply_to_each')?['Section']",
                  "Supervisor": "@items('Apply_to_each')?['Supervisor_x0020_']"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_Rep_Struct": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8ab5d427-14aa-4ee4-8a2b-e0a2fb0be45c"
          },
          "type": "Foreach"
        },
        "Condition_6": {
          "actions": {
            "Update_item_4": {
              "runAfter": {},
              "metadata": {
                "flowSystemMetadata": {
                  "swaggerOperationId": "PatchItem"
                },
                "operationMetadataId": "35583a60-0564-44b3-b4d9-fc3b0c0b0e0d"
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                  }
                },
                "method": "patch",
                "body": {
                  "Title": "@triggerBody()?['Title']",
                  "InvoiceStatus": {
                    "Value": "In Progress"
                  },
                  "Unit": "Unit 4",
                  "StaffName": {
                    "Value": "SchoolsGrant Queue"
                  },
                  "Supervisor": "Cynthia Le"
                },
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_5": {
                "actions": {
                  "Update_item_2": {
                    "runAfter": {},
                    "metadata": {
                      "flowSystemMetadata": {
                        "swaggerOperationId": "PatchItem"
                      },
                      "operationMetadataId": "53f30311-b9df-4f7f-8750-63ed4f92ce20"
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "body": {
                        "Title": "@triggerBody()?['Title']",
                        "InvoiceStatus": {
                          "Value": "In Progress"
                        },
                        "Unit": "Unit 4",
                        "StaffName": {
                          "Value": "CalVaxGrant Queue"
                        },
                        "Supervisor": "Cynthia Le"
                      },
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Condition_4": {
                      "actions": {
                        "SnapNurse_Update": {
                          "runAfter": {},
                          "metadata": {
                            "flowSystemMetadata": {
                              "swaggerOperationId": "PatchItem"
                            },
                            "operationMetadataId": "19741410-a86f-43e8-b563-0d31c2684c62"
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "body": {
                              "Title": "@triggerBody()?['Title']",
                              "StaffName": {
                                "Value": "SnapNurse"
                              }
                            },
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {},
                      "else": {
                        "actions": {
                          "Condition_2": {
                            "actions": {
                              "ORF_SnapNurse": {
                                "runAfter": {},
                                "metadata": {
                                  "flowSystemMetadata": {
                                    "swaggerOperationId": "PatchItem"
                                  },
                                  "operationMetadataId": "9520b690-e52c-411c-b529-72a72c614a65"
                                },
                                "type": "ApiConnection",
                                "inputs": {
                                  "host": {
                                    "connection": {
                                      "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                    }
                                  },
                                  "method": "patch",
                                  "body": {
                                    "Title": "@triggerBody()?['Title']",
                                    "StaffName": {
                                      "Value": "ORF"
                                    }
                                  },
                                  "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                                  "authentication": "@parameters('$authentication')"
                                }
                              }
                            },
                            "runAfter": {},
                            "else": {
                              "actions": {
                                "Condition": {
                                  "actions": {
                                    "Get_Direct_Pay_Staff": {
                                      "runAfter": {},
                                      "metadata": {
                                        "flowSystemMetadata": {
                                          "swaggerOperationId": "GetItems"
                                        },
                                        "operationMetadataId": "3ab82e19-7393-40f0-9b3e-ed56a62bcc62"
                                      },
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                          }
                                        },
                                        "method": "get",
                                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingStaff (invoicet_InvoiceTrackingStaff)')))}/items",
                                        "queries": {
                                          "$filter": "Inv_x0020_Type eq '@{replace(toUpper(triggerBody()?['VendorName']),'''','''''')}'"
                                        },
                                        "authentication": "@parameters('$authentication')"
                                      }
                                    },
                                    "Apply_Direct_Pay_Staff": {
                                      "foreach": "@body('Get_Direct_Pay_Staff')?['value']",
                                      "actions": {
                                        "Assign_Direct_Pay_Staff": {
                                          "runAfter": {},
                                          "metadata": {
                                            "flowSystemMetadata": {
                                              "swaggerOperationId": "PatchItem"
                                            },
                                            "operationMetadataId": "225fd9a0-ea44-4950-951c-b402140f61ac"
                                          },
                                          "type": "ApiConnection",
                                          "inputs": {
                                            "host": {
                                              "connection": {
                                                "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                              }
                                            },
                                            "method": "patch",
                                            "body": {
                                              "Title": "@{triggerBody()?['Title']}  ",
                                              "Unit": "@items('Apply_Direct_Pay_Staff')?['Unit_x0020_']",
                                              "Descr": "@items('Apply_Direct_Pay_Staff')?['Descr']",
                                              "Group": "@items('Apply_Direct_Pay_Staff')?['Group']",
                                              "Division_x002f_Center": "@items('Apply_Direct_Pay_Staff')?['Division_x002f_Center_x0020_']",
                                              "StaffName": {
                                                "Value": "@items('Apply_Direct_Pay_Staff')?['Accountant_x0020_']"
                                              },
                                              "Branch": "@items('Apply_Direct_Pay_Staff')?['Branch_x0020_']",
                                              "Section": "@items('Apply_Direct_Pay_Staff')?['Section']",
                                              "Supervisor": "@items('Apply_Direct_Pay_Staff')?['Supervisor_x0020_']"
                                            },
                                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                                            "authentication": "@parameters('$authentication')"
                                          }
                                        }
                                      },
                                      "runAfter": {
                                        "Get_Direct_Pay_Staff": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "4dead085-8570-4ad4-98f5-1d4959a53a0c"
                                      },
                                      "type": "Foreach"
                                    }
                                  },
                                  "runAfter": {},
                                  "else": {
                                    "actions": {
                                      "Condition_3": {
                                        "actions": {
                                          "Get_WIC_Staff": {
                                            "runAfter": {},
                                            "metadata": {
                                              "flowSystemMetadata": {
                                                "swaggerOperationId": "GetItems"
                                              },
                                              "operationMetadataId": "b0d36a82-7f0f-4a3c-b2b3-92d2267d44d5"
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                              "host": {
                                                "connection": {
                                                  "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                                }
                                              },
                                              "method": "get",
                                              "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingStaff (invoicet_InvoiceTrackingStaff)')))}/items",
                                              "queries": {
                                                "$filter": "Inv_x0020_Type eq 'WIC Voucher'"
                                              },
                                              "authentication": "@parameters('$authentication')"
                                            }
                                          },
                                          "Apply_WIC_Staff": {
                                            "foreach": "@body('Get_WIC_Staff')",
                                            "actions": {
                                              "Apply_to_each_2": {
                                                "foreach": "@body('Get_WIC_Staff')?['value']",
                                                "actions": {
                                                  "Assign_Direct_Pay_Staff_2": {
                                                    "runAfter": {},
                                                    "metadata": {
                                                      "flowSystemMetadata": {
                                                        "swaggerOperationId": "PatchItem"
                                                      },
                                                      "operationMetadataId": "d05b464e-8109-4112-bc60-2f3f8eb4cc08"
                                                    },
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                      "host": {
                                                        "connection": {
                                                          "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                                        }
                                                      },
                                                      "method": "patch",
                                                      "body": {
                                                        "Title": "@{triggerBody()?['Title']}  ",
                                                        "Unit": "@items('Apply_to_each_2')?['Unit_x0020_']",
                                                        "Descr": "@items('Apply_to_each_2')?['Descr']",
                                                        "Group": "@items('Apply_to_each_2')?['Group']",
                                                        "Division_x002f_Center": "@items('Apply_to_each_2')?['Division_x002f_Center_x0020_']",
                                                        "StaffName": {
                                                          "Value": "@items('Apply_to_each_2')?['Accountant_x0020_']"
                                                        },
                                                        "Branch": "@items('Apply_to_each_2')?['Branch_x0020_']",
                                                        "Section": "@items('Apply_to_each_2')?['Section']",
                                                        "Supervisor": "@items('Apply_to_each_2')?['Supervisor_x0020_']"
                                                      },
                                                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                                                      "authentication": "@parameters('$authentication')"
                                                    }
                                                  }
                                                },
                                                "runAfter": {},
                                                "metadata": {
                                                  "operationMetadataId": "a0f68e5f-96f8-4d49-b41f-e9ea2da64431"
                                                },
                                                "type": "Foreach"
                                              }
                                            },
                                            "runAfter": {
                                              "Get_WIC_Staff": [
                                                "Succeeded"
                                              ]
                                            },
                                            "metadata": {
                                              "operationMetadataId": "aec0b4f4-6047-437a-b07e-587e01fdc37f"
                                            },
                                            "type": "Foreach"
                                          }
                                        },
                                        "runAfter": {},
                                        "else": {
                                          "actions": {
                                            "Get_General_Staff": {
                                              "runAfter": {},
                                              "metadata": {
                                                "flowSystemMetadata": {
                                                  "swaggerOperationId": "GetItems"
                                                },
                                                "operationMetadataId": "b5a09a1c-18cb-44fd-bea2-c593f550b33a"
                                              },
                                              "type": "ApiConnection",
                                              "inputs": {
                                                "host": {
                                                  "connection": {
                                                    "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                                  }
                                                },
                                                "method": "get",
                                                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingStaff (invoicet_InvoiceTrackingStaff)')))}/items",
                                                "queries": {
                                                  "$filter": "Title eq'@{triggerBody()?['ReportingStructure']}' and Inv_x0020_Type eq '@{triggerBody()?['InvoiceType']?['Value']}'"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                              }
                                            },
                                            "Apply_to_each_3": {
                                              "foreach": "@body('Get_General_Staff')?['value']",
                                              "actions": {
                                                "Update_item_3": {
                                                  "runAfter": {},
                                                  "metadata": {
                                                    "flowSystemMetadata": {
                                                      "swaggerOperationId": "PatchItem"
                                                    },
                                                    "operationMetadataId": "1f1bbc78-6e22-477a-91f7-d1a21d409e6c"
                                                  },
                                                  "type": "ApiConnection",
                                                  "inputs": {
                                                    "host": {
                                                      "connection": {
                                                        "name": "@parameters('$connections')['shared_sharepointonline_2']['connectionId']"
                                                      }
                                                    },
                                                    "method": "patch",
                                                    "body": {
                                                      "Title": "@{triggerBody()?['Title']}",
                                                      "StaffName": {
                                                        "Value": "@items('Apply_to_each_3')?['Accountant_x0020_']"
                                                      }
                                                    },
                                                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingSite (invoicet_InvoiceTrackingSite)')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('InvoiceTrackingInvoices (invoicet_InvoiceTrackingInvoices)')))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                                                    "authentication": "@parameters('$authentication')"
                                                  }
                                                }
                                              },
                                              "runAfter": {
                                                "Get_General_Staff": [
                                                  "Succeeded"
                                                ]
                                              },
                                              "metadata": {
                                                "operationMetadataId": "3a5070ac-86ad-4448-9bc3-c60fbf9c4170"
                                              },
                                              "type": "Foreach"
                                            }
                                          }
                                        },
                                        "expression": {
                                          "equals": [
                                            "@triggerBody()?['InvoiceType']",
                                            "WIC Voucher"
                                          ]
                                        },
                                        "metadata": {
                                          "operationMetadataId": "d459b75d-7aa9-4b32-9579-fc01cfa382d8"
                                        },
                                        "type": "If"
                                      }
                                    }
                                  },
                                  "expression": {
                                    "equals": [
                                      "@triggerBody()?['InvoiceType']?['Value']",
                                      "Other (Lease, Phone, etc.)"
                                    ]
                                  },
                                  "metadata": {
                                    "operationMetadataId": "f67ab629-be89-434e-8677-b2c9ddd3cdbb"
                                  },
                                  "type": "If"
                                }
                              }
                            },
                            "expression": {
                              "equals": [
                                "@triggerBody()?['RevolvingFund']",
                                "@true"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "63dded4f-d5f7-4375-b58e-05772736e152"
                            },
                            "type": "If"
                          }
                        }
                      },
                      "expression": {
                        "equals": [
                          "@triggerBody()?['SnapNurse']",
                          "@true"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "ec06076d-da18-4f34-a3ee-9e1e4417c750"
                      },
                      "type": "If"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@triggerBody()?['CalVaxGrant']",
                    "@true"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ce071216-d0f4-417d-92df-98f0ad7f10d0"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerBody()?['SchoolsGrant']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "d028d5dd-0dc3-480a-8455-834a7d1becee"
          },
          "type": "If"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}